<h2>Create a New Meetup</h2>
<form action="/meetups/new" method="post" id="meetup">
  <label for="name">Name:</label>
  <input style ="color:#000000;" type="text" name="name" value=""><br><br>
  <label for="location">Location:</label>
  <input style ="color:#000000;" type="text" name="location" value=""><br><br>
  <label for="description">Description:</label><br>
  <textarea style ="color:#000000;" name="description" form="meetup" rows="10" cols="50"></textarea><br><br>
  <input style ="color:#000000;" type="submit" name="Submit" value="Submit">
</form>
