<h3><%= @meetup.name %></h3>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Creator</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @meetup.location %>
      </td>
      <td>
        <%= @meetup.date %>
      </td>
      <td>
      </td>
      <td>
        <%= @meetup.description %>
      </td>
    </tr>
  </tbody>
</table>
